rsource "drivers/sensor/bno08x/Kconfig"
source "Kconfig.zephyr"

choice
    prompt "Select a project role."
    default ROLE_UNDEFINED

    config ROLE_HUB
         bool "Hub (waist) role"
    config ROLE_WATCH
         bool "Watch role"
    config ROLE_RING
         bool "Ring role"
    config ROLE_UNDEFINED
        bool "Undefined role"
endchoice

choice
    prompt "Set target flash size."
    default FLASH_SIZE_NONE

    config FLASH_SIZE_128Mbit
         bool "128Mbit (16MB) flash"
    config FLASH_SIZE_1Gbit
         bool "1Gbit (128MB) flash"
    config FLASH_SIZE_NONE
         bool "No flash"
endchoice
