/dts-v1/;
#include <nordic/nrf52832_ciaa.dtsi>
#include "sml_poseyr2405_nrf52832-pinctrl.dtsi"

/ {
	model = "SML Posey-r2405 RING nRF52832";
	compatible = "sml,sml-poseyr2405-nrf52832";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	zephyr,user {
		io-channels = <&adc 2>;
		imureset-gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		imucs-gpios = <&gpio0 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
		imucopi-gpios = <&gpio0 14 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
	};
};

&uicr {
	gpio-as-nreset;
	nfct-pins-as-gpios;
};

&gpiote {
	status = "okay";
};

// Label needed for BNO08x driver config. Might need to trace
// exactly why...
&gpio0 {
	status = "okay";
	label = "gpio0";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	bno08x0: bno08x@4a {
		compatible = "ceva,bno08x";
		label = "imu";
		reg = <0x4a>;
		irq-gpios = <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
};

&spi1 {
	compatible = "nordic,nrf-spi";

	status = "disabled";
	pinctrl-0 = <&posey_spi1_default>;
	pinctrl-1 = <&posey_spi1_sleep>;
	pinctrl-names = "default", "sleep";

	// anomaly-58-workaround;
	// cs-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
	// bno086: bno08x@0 {
		//     compatible = "ceva,bno08x";
		//     reg = <0>;
		//     spi-max-frequency = <DT_FREQ_M(3)>;
		//     int-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
		//     reset-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
		//     ps0-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		//     ps1-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
		//     spi-cpol;
		//     spi-cpha;
	// };
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN2>;
		zephyr,resolution = <12>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0xc000 0x32000>;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x3e000 0x32000>;
		};
		scratch_partition: partition@70000 {
			label = "image-scratch";
			reg = <0x70000 0xa000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x7a000 0x6000>;
		};
	};
};
