CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y
CONFIG_BOARD_SML_POSEYR2405_NRF52832=y

# Enable MPU
CONFIG_ARM_MPU=y

# External XTAL
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_250PPM=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable peripherals.
CONFIG_GPIO=y
CONFIG_SERIAL=n
CONFIG_I2C=y
CONFIG_SPI=n
CONFIG_SENSOR=y
CONFIG_BNO08x=y
CONFIG_ADC=y
CONFIG_PINCTRL=y

# additional board options
# CONFIG_GPIO_AS_PINRESET=y
